.box{
    width: 400px;
    height: 400px;
    color: rgb(255, 255, 255);
    background-color:rgb(88, 90, 88);
    text-align: center;
    border: 5px solid rgb(81, 81, 230);
    padding-top: 10px;
    margin: 50px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(cat2.gif) ;
    background-size: cover;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.box:hover{
    background-color:rgb(1, 140, 179);
    box-shadow: 34px 34px 26px rgb(1, 140, 179);
    background-image: url(giphy.gif) ;
    background-size: cover;
    transform: scale(1.2)

}
body{
    background-image: url(skybg.jpg) ;
    background-size: cover;
}

